$primary:       #ffd370;
$warning:       #f55;
$hexschool:     #69f0af;

$font-family:   'Noto Sans', 'Baloo 2';

@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Baloo+2&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

// base
body {
    font-family: $font-family;
    font-size: 16px;
    color: #eee;
    line-height: 1.5;
    background-color: darken( darkgreen, 15);
    overflow: hidden;
}
a {
    color: $hexschool;
}
.fs-1 {
    font-size: 40px;
    font-weight: bold;
}
.container {
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.top_right {
    top: 4%;
    left: 52%;
    
    @media ( max-width: 768px ){
        top: 15%;
    }
}
.right {
    top: 35%;
    left: 64%;
    
    @media ( max-width: 768px ){
        left: 75%;
    }
}
.bottom_right {
    top: 70%;
    left: 50%;
    
    @media ( max-width: 768px ){
        top: 60%;
        left: 60%;
    }
}
.bottom_left {
    top: 60%;
    left: 22%;
    
    @media ( max-width: 768px ){
        top: 56%;
        left:15%
    }
}
.top_left {
    top: 10%;
    left: 26%;
    
    @media ( max-width: 768px ){
        top: 27%;
        left: 20%;
    }
}
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.flex-column {
    flex-direction: column;
}

// tent
.tent {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 150px 80px;
    transform: rotate3d( 0, 1, .5, 10deg);
    transition: all .3s;
    border-color: transparent transparent darken( $hexschool, 60) transparent;
    z-index: -3;

    
    @media ( max-width: 930px ){
        transform: rotate3d( 0, 0, 0, 0deg);
        border-width: 0 40px 75px 40px;
    }
    
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 150px 15px;
        border-color: transparent transparent darken( $hexschool, 50) transparent;
        transition: all .3s;
        z-index: -2;

        
        @media ( max-width: 930px ){
            left: -7.5px;
            border-width: 0 7.5px 75px 7.5px;
        }
    }

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 150px 7px;
        border-color: transparent transparent darken( $hexschool, 66) transparent;
        transition: all .3s;
        z-index: -1;

        
        @media ( max-width: 930px ){
            left: -3.5px;
            border-width: 0 3.5px 75px 3.5px;
        }
    }

    .content {
        position: absolute;
        top: 50px;
        left: -125px;
        width: 250px;
        color: #999;
        text-align: center;
        transform: rotate3d( 0, 1, .5, -10deg);
        transition: all .3s;
        
        @media ( max-width: 930px ){
            top: 0px;
            transform: rotate3d( 0, 0, 0, 0deg);
        }
    }
    h2 {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 5px #000;
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0 0 5px #000;
    }
}
.tent_body {
    position: absolute;
    top: -9px;
    left: 118px;
    width: 160px;
    height: 161px;
    transform: rotate3d( 0, 1, .5, -10deg) skewX(19deg);
    transition: all .3s;
    background: linear-gradient( 180deg, darken( $hexschool, 60) 0%,
                                        darken( $hexschool, 65) 100%,);
    z-index: -5;
    
    @media ( max-width: 1280px ){
        top: -5px;
        width: 80px;
    }
    @media ( max-width: 1080px ){
        top: -16px;
        left: 110px;
        width: 40px;
        height: 175px;
        transform: rotate3d( 0, 1, .5, -58deg) skewX(1deg);
    }
    @media ( max-width: 930px ){
        width: 0;
    }
}
.firefly {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #f3ef53;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(115,175,64,1),
	            0 0 15px rgba(94,159,61,1),
	            0 0 20px rgba(115,175,64,1),
	            0 0 25px rgba(94,159,61,1);
}

// fire
.red {
    width: 80px;
    height: 80px;
    background: orangered;
    box-shadow: 0 0 10px 5px orangered,
                0 0 1000px 500px rgba( gold, .2);
}
.orange {
    width: 60px;
    height: 60px;
    background: orange;
    box-shadow: 0 0 12px 6px orange;
}
.gold {
    width: 45px;
    height: 45px;
    background: gold;
    box-shadow: 0 0 9px 4px gold;
}
.white {
    width: 35px;
    height: 35px;
    background: lightyellow;
    box-shadow: 0 0 9px 4px lightyellow;
}
.flame-wrapper {
    position: relative;
    top: -10px;
    animation: flicker 5ms ease-in infinite;
    z-index: 100;
}
.flame {
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 50% 0 50% 50%;
    transform: translate(-50%) rotate(-45deg);
}
@keyframes flicker {
    0% {transform: rotate( -1deg );}
    20% {transform: rotate( 2deg ) scaleY( 1.05 );}
    40% {transform: rotate( -1deg );}
    60% {transform: rotate( 1deg );}
    80% {transform: rotate( -1deg ) scaleY( 0.9 );}
    100% {transform: rotate( 1deg );}
}

// wood
.wood_section {
    position: relative;
    height: 57px;
    width: 57px;
    background: darken( burlywood, 50);
    z-index: 10;
    border-radius: 53% 46% 54% 42% / 65% 48% 50% 36% ;
    box-shadow: inset 1px 0 1px 2px darken( burlywood, 50),
                inset 0 1px 1px 4px darken(  burlywood, 55),
                inset -1px 0 1px 6px darken( burlywood, 50),
                inset 0 -1px 1px 8px darken(  burlywood, 55),
                inset 1px 0 1px 10px darken( burlywood, 50),
                inset 0 1px 1px 12px darken(  burlywood, 55),
                inset -1px 0 1px 14px darken( burlywood, 50),
                inset 0 -1px 1px 16px darken(  burlywood, 55),
                inset 1px 0 1px 18px darken( burlywood, 50),
                inset 0 1px 1px 20px darken(  burlywood, 55),
                inset -1px 0 1px 22px darken( burlywood, 50),
                inset 0 -1px 1px 24px darken(  burlywood, 55),
                inset 1px 0 0 26px darken( burlywood, 50);
    
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 57px;
        width: 57px;
        background: no-repeat linear-gradient( 180deg, rgba( black, 0) 0%,
                                                    rgba( black, .9) 100%);
        z-index: 10;
        border-radius: 53% 46% 54% 42% / 65% 48% 50% 36% ;
    }
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 57px;
        width: 57px;
        border-radius: 53% 46% 54% 42% / 65% 48% 50% 36% ;
    }
}
.wood_body {
    position: absolute;
    height: 57px;
    width: 171px;
    background: no-repeat linear-gradient( 178deg, darken(brown, 10) 0%,
                                                darken(brown, 17) 9%,
                                                darken(brown, 18) 21%,
                                                darken(brown, 22) 32%,
                                                darken(brown, 21) 43%,
                                                darken(brown, 27) 54%,
                                                darken(brown, 28) 63%,
                                                darken(brown, 33) 71%,
                                                darken(brown, 35) 78%,
                                                darken(brown, 39) 89%, 
                                                darken(brown, 42) 100%);
}
.woods {
    position: relative;
}
.wood {
    position: absolute;
    left: -15px;
    bottom: 0;
}
.wood_1 .wood_section {
    transform: rotateX( 18deg ) rotateY(40deg) translate( calc( -50% - 110px), 84px);
    &::after {
        animation: swing_1 .5s ease-in infinite;
    }
}
.wood_1 .wood_body {
    transform: rotateZ( -18deg ) translate( -50%, 0);
    border-radius: 0% 14% 17% 0% / 45% 42% 50% 30% ;
    animation: swing_1 .5s ease-in infinite;
}
.wood_2 .wood_section {
    transform: rotateX( 18deg ) rotateY( -30deg ) translate( calc( -50% + 100px), 77px);
    &::after {
        animation: swing_2 .5s ease-in infinite;
    }
}
.wood_2 .wood_body {
    transform: rotateZ( 32deg ) rotateX( 9deg ) translate( calc( -50% + 30px), 50px);
    border-radius: 15% 0% 0% 13% / 45% 42% 50% 56% ;
    animation: swing_2 .5s ease-in infinite;
}

@keyframes swing_1 {
	0%, 100% {
		box-shadow: -6px 12px 30px 5px #000;
	}
	50% {
		box-shadow: -8px 14px 30px 6px #000;
	}
}
@keyframes swing_2 {
	0%, 100% {
		box-shadow: 10px 20px 30px 5px #000;
	}
	50% {
		box-shadow: 12px 22px 30px 6px #000;
	}
}
.campfire {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate( -50%, -50%) scale( 50% );
    @media ( max-width: 768px ){
        top: 50%;
        left: 50%
    }
}

// shadow
.shadow {
    display: block;
    width: 300px;
    @media ( max-width: 1280px ){
        width: 220px;
    }
    @media ( max-width: 1080px ){
        width: 180px;
    }
    @media ( max-width: 930px ){
        width: 80px;
    }
    
    &:hover {
        .tent {
            border-color: transparent transparent darken( $hexschool, 55) transparent;
            
            &::before {
                left: -30px;
                border-width: 0 30px 150px 30px;
                border-color: transparent transparent darken( $hexschool, 45) transparent;
            }
            &::after {
                left: -22px;
                border-width: 0 22px 150px 22px;
                border-color: transparent transparent darken( gold, 0) transparent;
            }
            .content {
                color: #eee;
            }
        }
        .tent_body {
            background: linear-gradient( 180deg, darken( $hexschool, 58) 0%,
                                                darken( $hexschool, 63) 100%,);
        }
    }

    &_1 {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            bottom: 10px;
            left: 0;
            display: block;
            width: 100%;
            height: 5%;
            transform: rotate3d( 1, 0, 0, 45deg);
            animation: swing_shadow_1 .5s ease-in infinite;
            z-index: -10;
        }
    }
    &_2 {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            bottom: 10px;
            left: 0;
            display: block;
            width: 100%;
            height: 5%;
            transform: rotate3d( 1, 0, 0, 45deg);
            animation: swing_shadow_2 .5s ease-in infinite;
            z-index: -10;
        }
    }
    &_3 {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            bottom: 10px;
            left: 0;
            display: block;
            width: 100%;
            height: 5%;
            transform: rotate3d( 1, 0, 0, 45deg);
            animation: swing_shadow_3 .5s ease-in infinite;
            z-index: -10;
        }
    }
    &_4 {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            bottom: 10px;
            left: 0;
            display: block;
            width: 100%;
            height: 5%;
            transform: rotate3d( 1, 0, 0, 45deg);
            animation: swing_shadow_4 .5s ease-in infinite;
            z-index: -10;
        }
    }
    &_5 {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            bottom: 10px;
            left: 0;
            display: block;
            width: 100%;
            height: 5%;
            transform: rotate3d( 1, 0, 0, 45deg);
            animation: swing_shadow_5 .5s ease-in infinite;
            z-index: -10;
        }
    }
}


@keyframes swing_shadow_1 {
	0%, 100% {
		box-shadow: 20px -20px 80px 60px #000;
	}
	50% {
		box-shadow: 18px -22px 80px 50px #000;
	}
}
@keyframes swing_shadow_2 {
	0%, 100% {
		box-shadow: 20px 0px 80px 60px #000;
	}
	50% {
		box-shadow: 18px -2px 80px 50px #000;
	}
}
@keyframes swing_shadow_3 {
	0%, 100% {
		box-shadow: 20px 20px 80px 60px #000;
	}
	50% {
		box-shadow: 18px 18px 80px 50px #000;
	}
}
@keyframes swing_shadow_4 {
	0%, 100% {
		box-shadow: -20px 20px 80px 60px #000;
	}
	50% {
		box-shadow: -22px 18px 80px 50px #000;
	}
}
@keyframes swing_shadow_5 {
	0%, 100% {
		box-shadow: -20px -20px 80px 60px #000;
	}
	50% {
		box-shadow: -22px -22px 80px 50px #000;
	}
}
.me-3 {
    margin-right: 16px;
}
.pt-3 {
    padding-top: 16px;
}