@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Baloo+2&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Baloo+2&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans", "Baloo 2";
  font-size: 16px;
  color: #eee;
  line-height: 1.5;
  background-color: #001800;
  overflow: hidden;
}

a {
  color: #69f0af;
}

.activity_title {
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.2);
}

.activity_title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .activity_title a {
    font-size: 24px;
  }
  .activity_title a span {
    display: none;
  }
}

.nav-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4px;
  font-size: 32px;
}

.nav-custom a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav-custom a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.container-box {
  height: 81.5vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  padding: 8px;
}

.tent_wrapper_r {
  position: relative;
  -webkit-transform: scale(80%);
          transform: scale(80%);
}

.tent_wrapper_r + .content {
  left: -80px;
}

.tent_wrapper_r.far_long {
  -webkit-transform: scale(60%);
          transform: scale(60%);
}

.tent_wrapper_r.far_middle {
  -webkit-transform: scale(70%);
          transform: scale(70%);
}

.tent_wrapper_l {
  position: relative;
  -webkit-transform: scale(80%) rotateY(180deg);
          transform: scale(80%) rotateY(180deg);
}

.tent_wrapper_l + .content {
  left: 0px;
}

.tent_wrapper_l.far_middle {
  -webkit-transform: scale(70%) rotateY(180deg);
          transform: scale(70%) rotateY(180deg);
}

.tent {
  position: absolute;
  bottom: 0;
}

.tent.section {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 80px 139px 80px;
  border-color: transparent transparent #08522e transparent;
  -webkit-transform: translate(-50%, 0) skewY(10deg);
          transform: translate(-50%, 0) skewY(10deg);
}

.tent.section::before {
  position: absolute;
  content: '';
  top: 0;
  left: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 139px 15px;
  border-color: transparent transparent #0f9756 transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -2;
}

.tent.section::after {
  position: absolute;
  content: '';
  top: 0;
  left: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 139px 7px;
  border-color: transparent transparent #042314 transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -1;
}

.tent.body {
  height: 134px;
  width: 139px;
  background: -webkit-gradient(linear, left top, left bottom, from(#08522e), to(#042314));
  background: linear-gradient(180deg, #08522e 0%, #042314 100%);
  -webkit-transform: skewX(27.7deg) translate(48px, -10px) skewY(-10deg) perspective(10px) rotateY(1deg);
          transform: skewX(27.7deg) translate(48px, -10px) skewY(-10deg) perspective(10px) rotateY(1deg);
}

.content {
  position: absolute;
  top: -119px;
  width: 300px;
  color: #999;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 768px) {
  .content {
    top: -99px;
  }
}

.content h2 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}

@media (max-width: 768px) {
  .content h2 {
    font-size: 16px;
  }
}

.content h3 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}

@media (max-width: 768px) {
  .content h3 {
    font-size: 16px;
  }
}

.grass_wrapper {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50px;
  height: 40px;
  overflow: hidden;
  z-index: 1;
}

.grass_wrapper_1 {
  left: 140px;
}

.grass_wrapper_2 {
  left: -50px;
}

.grass_wrapper_3 {
  bottom: 25px;
  left: -55px;
  z-index: -5;
}

.grass_wrapper_5 {
  left: 50px;
  bottom: -10px;
}

.grass {
  height: 30px;
  width: 5px;
  border-radius: 100% 0 50% 0;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  margin-left: 15px;
}

.grass_1 {
  background-color: #00341a;
  -webkit-animation: wind_1 2s ease alternate infinite;
          animation: wind_1 2s ease alternate infinite;
}

.grass_1::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 5px;
  border-radius: 100% 0 50% 0;
  background-color: #001609;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  margin-left: 14px;
  -webkit-animation: wind_2 2s ease alternate infinite;
          animation: wind_2 2s ease alternate infinite;
}

.grass_1::after {
  content: '';
  position: absolute;
  height: 32px;
  width: 5px;
  border-radius: 100% 0 50% 0;
  background-color: #2e6830;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  margin-left: 12px;
  -webkit-animation: wind_3 2s ease alternate infinite;
          animation: wind_3 2s ease alternate infinite;
}

.grass_2 {
  background-color: #001609;
  border-radius: 0 100% 0 50%;
  height: 24px;
  -webkit-animation: wind_1 2s ease alternate infinite;
          animation: wind_1 2s ease alternate infinite;
}

.grass_2::before {
  content: '';
  position: absolute;
  height: 26px;
  width: 4px;
  border-radius: 100% 0 50% 0;
  background-color: #163317;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  margin-left: -8px;
  -webkit-animation: wind_2 2s ease alternate infinite;
          animation: wind_2 2s ease alternate infinite;
}

.grass_2::after {
  content: '';
  position: absolute;
  height: 28px;
  width: 4px;
  border-radius: 100% 0 50% 0;
  background-color: #224d24;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  margin-left: -4px;
  -webkit-animation: wind_3 2s ease alternate infinite;
          animation: wind_3 2s ease alternate infinite;
}

.grass_3 {
  background-color: #2e6830;
  border-radius: 0 100% 0 50%;
  height: 28px;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  margin-left: -2px;
  -webkit-animation: wind_1 2s ease alternate infinite;
          animation: wind_1 2s ease alternate infinite;
}

.grass_3::before {
  content: '';
  position: absolute;
  height: 33px;
  width: 5px;
  border-radius: 0 100% 0 50%;
  background-color: #224d24;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  margin-left: -20px;
  -webkit-animation: wind_2 2s ease alternate infinite;
          animation: wind_2 2s ease alternate infinite;
}

.grass_3::after {
  content: '';
  position: absolute;
  height: 36px;
  width: 4px;
  border-radius: 0 100% 0 50%;
  background-color: #163317;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  margin-left: -24px;
  -webkit-animation: wind_3 2s ease alternate infinite;
          animation: wind_3 2s ease alternate infinite;
}

@-webkit-keyframes wind_1 {
  100% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

@keyframes wind_1 {
  100% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

@-webkit-keyframes wind_2 {
  100% {
    -webkit-transform: rotate(11deg);
            transform: rotate(11deg);
  }
}

@keyframes wind_2 {
  100% {
    -webkit-transform: rotate(11deg);
            transform: rotate(11deg);
  }
}

@-webkit-keyframes wind_3 {
  100% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
}

@keyframes wind_3 {
  100% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top_right {
  top: 30%;
  left: 48%;
}

.right {
  top: 45%;
  left: 68%;
}

@media (max-width: 768px) {
  .right {
    top: 50%;
    left: 64%;
  }
}

.bottom_right {
  top: 85%;
  left: 60%;
}

@media (max-width: 768px) {
  .bottom_right {
    top: 72%;
    left: 68%;
  }
}

.bottom_left {
  top: 82%;
  right: 60%;
}

@media (max-width: 768px) {
  .bottom_left {
    top: 68%;
    right: 68%;
  }
}

.top_left {
  top: 46%;
  right: 65%;
}

@media (max-width: 768px) {
  .top_left {
    top: 40%;
  }
}

.firefly {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f3ef53;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #73af40, 0 0 15px #5e9f3d, 0 0 20px #73af40, 0 0 25px #5e9f3d;
          box-shadow: 0 0 10px #73af40, 0 0 15px #5e9f3d, 0 0 20px #73af40, 0 0 25px #5e9f3d;
}

.red {
  width: 80px;
  height: 80px;
  background: orangered;
  -webkit-box-shadow: 0 0 10px 5px orangered, 0 0 1000px 500px rgba(255, 215, 0, 0.2);
          box-shadow: 0 0 10px 5px orangered, 0 0 1000px 500px rgba(255, 215, 0, 0.2);
}

.orange {
  width: 60px;
  height: 60px;
  background: orange;
  -webkit-box-shadow: 0 0 12px 6px orange;
          box-shadow: 0 0 12px 6px orange;
}

.gold {
  width: 45px;
  height: 45px;
  background: gold;
  -webkit-box-shadow: 0 0 9px 4px gold;
          box-shadow: 0 0 9px 4px gold;
}

.white {
  width: 35px;
  height: 35px;
  background: lightyellow;
  -webkit-box-shadow: 0 0 9px 4px lightyellow;
          box-shadow: 0 0 9px 4px lightyellow;
}

.flame-wrapper {
  position: relative;
  top: -10px;
  -webkit-animation: flicker 5ms ease-in infinite;
          animation: flicker 5ms ease-in infinite;
  z-index: 100;
}

.flame {
  position: absolute;
  left: 50%;
  bottom: 0;
  border-radius: 50% 0 50% 50%;
  -webkit-transform: translate(-50%) rotate(-45deg);
          transform: translate(-50%) rotate(-45deg);
}

@-webkit-keyframes flicker {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  20% {
    -webkit-transform: rotate(2deg) scaleY(1.05);
            transform: rotate(2deg) scaleY(1.05);
  }
  40% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  60% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg) scaleY(0.9);
            transform: rotate(-1deg) scaleY(0.9);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

@keyframes flicker {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  20% {
    -webkit-transform: rotate(2deg) scaleY(1.05);
            transform: rotate(2deg) scaleY(1.05);
  }
  40% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  60% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg) scaleY(0.9);
            transform: rotate(-1deg) scaleY(0.9);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

.wood_section {
  position: relative;
  height: 57px;
  width: 57px;
  background: #503716;
  z-index: 10;
  border-radius: 53% 46% 54% 42% / 65% 48% 50% 36%;
  -webkit-box-shadow: inset 1px 0 1px 2px #503716, inset 0 1px 1px 4px #3c2911, inset -1px 0 1px 6px #503716, inset 0 -1px 1px 8px #3c2911, inset 1px 0 1px 10px #503716, inset 0 1px 1px 12px #3c2911, inset -1px 0 1px 14px #503716, inset 0 -1px 1px 16px #3c2911, inset 1px 0 1px 18px #503716, inset 0 1px 1px 20px #3c2911, inset -1px 0 1px 22px #503716, inset 0 -1px 1px 24px #3c2911, inset 1px 0 0 26px #503716;
          box-shadow: inset 1px 0 1px 2px #503716, inset 0 1px 1px 4px #3c2911, inset -1px 0 1px 6px #503716, inset 0 -1px 1px 8px #3c2911, inset 1px 0 1px 10px #503716, inset 0 1px 1px 12px #3c2911, inset -1px 0 1px 14px #503716, inset 0 -1px 1px 16px #3c2911, inset 1px 0 1px 18px #503716, inset 0 1px 1px 20px #3c2911, inset -1px 0 1px 22px #503716, inset 0 -1px 1px 24px #3c2911, inset 1px 0 0 26px #503716;
}

.wood_section::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 57px;
  width: 57px;
  background: no-repeat -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: no-repeat linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  z-index: 10;
  border-radius: 53% 46% 54% 42% / 65% 48% 50% 36%;
}

.wood_section::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 57px;
  width: 57px;
  border-radius: 53% 46% 54% 42% / 65% 48% 50% 36%;
}

.wood_body {
  position: absolute;
  height: 57px;
  width: 171px;
  background: no-repeat linear-gradient(178deg, #7c2020 0%, #601818 9%, #5c1717 21%, #4c1313 32%, #501414 43%, #370e0e 54%, #330d0d 63%, #1f0808 71%, #170606 78%, #060202 89%, black 100%);
}

.woods {
  position: relative;
}

.wood {
  position: absolute;
  left: -15px;
  bottom: 0;
}

.wood_1 .wood_section {
  -webkit-transform: rotateX(18deg) rotateY(40deg) translate(calc( -50% - 110px), 84px);
          transform: rotateX(18deg) rotateY(40deg) translate(calc( -50% - 110px), 84px);
}

.wood_1 .wood_section::after {
  -webkit-animation: swing_1 .5s ease-in infinite;
          animation: swing_1 .5s ease-in infinite;
}

.wood_1 .wood_body {
  -webkit-transform: rotateZ(-18deg) translate(-50%, 0);
          transform: rotateZ(-18deg) translate(-50%, 0);
  border-radius: 0% 14% 17% 0% / 45% 42% 50% 30%;
  -webkit-animation: swing_1 .5s ease-in infinite;
          animation: swing_1 .5s ease-in infinite;
}

.wood_2 .wood_section {
  -webkit-transform: rotateX(18deg) rotateY(-30deg) translate(calc( -50% + 100px), 77px);
          transform: rotateX(18deg) rotateY(-30deg) translate(calc( -50% + 100px), 77px);
}

.wood_2 .wood_section::after {
  -webkit-animation: swing_2 .5s ease-in infinite;
          animation: swing_2 .5s ease-in infinite;
}

.wood_2 .wood_body {
  -webkit-transform: rotateZ(32deg) rotateX(9deg) translate(calc( -50% + 30px), 50px);
          transform: rotateZ(32deg) rotateX(9deg) translate(calc( -50% + 30px), 50px);
  border-radius: 15% 0% 0% 13% / 45% 42% 50% 56%;
  -webkit-animation: swing_2 .5s ease-in infinite;
          animation: swing_2 .5s ease-in infinite;
}

@-webkit-keyframes swing_1 {
  0%, 100% {
    -webkit-box-shadow: -6px 12px 30px 5px #000;
            box-shadow: -6px 12px 30px 5px #000;
  }
  50% {
    -webkit-box-shadow: -8px 14px 30px 6px #000;
            box-shadow: -8px 14px 30px 6px #000;
  }
}

@keyframes swing_1 {
  0%, 100% {
    -webkit-box-shadow: -6px 12px 30px 5px #000;
            box-shadow: -6px 12px 30px 5px #000;
  }
  50% {
    -webkit-box-shadow: -8px 14px 30px 6px #000;
            box-shadow: -8px 14px 30px 6px #000;
  }
}

@-webkit-keyframes swing_2 {
  0%, 100% {
    -webkit-box-shadow: 10px 20px 30px 5px #000;
            box-shadow: 10px 20px 30px 5px #000;
  }
  50% {
    -webkit-box-shadow: 12px 22px 30px 6px #000;
            box-shadow: 12px 22px 30px 6px #000;
  }
}

@keyframes swing_2 {
  0%, 100% {
    -webkit-box-shadow: 10px 20px 30px 5px #000;
            box-shadow: 10px 20px 30px 5px #000;
  }
  50% {
    -webkit-box-shadow: 12px 22px 30px 6px #000;
            box-shadow: 12px 22px 30px 6px #000;
  }
}

.campfire {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(50%);
          transform: translate(-50%, -50%) scale(50%);
}

@media (max-width: 768px) {
  .campfire {
    top: 80%;
  }
}

.shadow {
  display: block;
  width: 200px;
}

.shadow:hover .tent {
  border-color: transparent transparent #08522e transparent;
}

.shadow:hover .tent::before {
  left: -30px;
  border-width: 0 30px 139px 30px;
  border-color: transparent transparent #0f9756 transparent;
}

.shadow:hover .tent::after {
  left: -22px;
  border-width: 0 22px 139px 22px;
  -webkit-box-shadow: 0 100px 100px 1px gold;
          box-shadow: 0 100px 100px 1px gold;
  border-color: transparent transparent gold transparent;
}

.shadow:hover .tent_body {
  background: -webkit-gradient(linear, left top, left bottom, from(#08522e), to(#042314));
  background: linear-gradient(180deg, #08522e 0%, #042314 100%);
}

.shadow:hover .content {
  color: #eee;
}

.shadow_1 {
  position: relative;
}

.shadow_1::after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 0;
  display: block;
  width: 100%;
  height: 5%;
  -webkit-transform: rotate3d(1, 0, 0, 45deg);
          transform: rotate3d(1, 0, 0, 45deg);
  -webkit-animation: swing_shadow_1 .5s ease-in infinite;
          animation: swing_shadow_1 .5s ease-in infinite;
  z-index: -10;
}

.shadow_2 {
  position: relative;
}

.shadow_2::after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 0;
  display: block;
  width: 100%;
  height: 5%;
  -webkit-transform: rotate3d(1, 0, 0, 45deg);
          transform: rotate3d(1, 0, 0, 45deg);
  -webkit-animation: swing_shadow_2 .5s ease-in infinite;
          animation: swing_shadow_2 .5s ease-in infinite;
  z-index: -10;
}

.shadow_3 {
  position: relative;
}

.shadow_3::after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 0;
  display: block;
  width: 100%;
  height: 5%;
  -webkit-transform: rotate3d(1, 0, 0, 45deg);
          transform: rotate3d(1, 0, 0, 45deg);
  -webkit-animation: swing_shadow_3 .5s ease-in infinite;
          animation: swing_shadow_3 .5s ease-in infinite;
  z-index: -10;
}

.shadow_4 {
  position: relative;
}

.shadow_4::after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 0;
  display: block;
  width: 100%;
  height: 5%;
  -webkit-transform: rotate3d(1, 0, 0, 45deg);
          transform: rotate3d(1, 0, 0, 45deg);
  -webkit-animation: swing_shadow_4 .5s ease-in infinite;
          animation: swing_shadow_4 .5s ease-in infinite;
  z-index: -10;
}

.shadow_5 {
  position: relative;
}

.shadow_5::after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 0;
  display: block;
  width: 100%;
  height: 5%;
  -webkit-transform: rotate3d(1, 0, 0, 45deg);
          transform: rotate3d(1, 0, 0, 45deg);
  -webkit-animation: swing_shadow_5 .5s ease-in infinite;
          animation: swing_shadow_5 .5s ease-in infinite;
  z-index: -10;
}

@-webkit-keyframes swing_shadow_1 {
  0%, 100% {
    -webkit-box-shadow: 20px -20px 80px 60px #000;
            box-shadow: 20px -20px 80px 60px #000;
  }
  50% {
    -webkit-box-shadow: 18px -22px 80px 50px #000;
            box-shadow: 18px -22px 80px 50px #000;
  }
}

@keyframes swing_shadow_1 {
  0%, 100% {
    -webkit-box-shadow: 20px -20px 80px 60px #000;
            box-shadow: 20px -20px 80px 60px #000;
  }
  50% {
    -webkit-box-shadow: 18px -22px 80px 50px #000;
            box-shadow: 18px -22px 80px 50px #000;
  }
}

@-webkit-keyframes swing_shadow_2 {
  0%, 100% {
    -webkit-box-shadow: 20px 0px 80px 60px #000;
            box-shadow: 20px 0px 80px 60px #000;
  }
  50% {
    -webkit-box-shadow: 18px -2px 80px 50px #000;
            box-shadow: 18px -2px 80px 50px #000;
  }
}

@keyframes swing_shadow_2 {
  0%, 100% {
    -webkit-box-shadow: 20px 0px 80px 60px #000;
            box-shadow: 20px 0px 80px 60px #000;
  }
  50% {
    -webkit-box-shadow: 18px -2px 80px 50px #000;
            box-shadow: 18px -2px 80px 50px #000;
  }
}

@-webkit-keyframes swing_shadow_3 {
  0%, 100% {
    -webkit-box-shadow: 20px 20px 80px 60px #000;
            box-shadow: 20px 20px 80px 60px #000;
  }
  50% {
    -webkit-box-shadow: 18px 18px 80px 50px #000;
            box-shadow: 18px 18px 80px 50px #000;
  }
}

@keyframes swing_shadow_3 {
  0%, 100% {
    -webkit-box-shadow: 20px 20px 80px 60px #000;
            box-shadow: 20px 20px 80px 60px #000;
  }
  50% {
    -webkit-box-shadow: 18px 18px 80px 50px #000;
            box-shadow: 18px 18px 80px 50px #000;
  }
}

@-webkit-keyframes swing_shadow_4 {
  0%, 100% {
    -webkit-box-shadow: -20px 20px 80px 60px #000;
            box-shadow: -20px 20px 80px 60px #000;
  }
  50% {
    -webkit-box-shadow: -22px 18px 80px 50px #000;
            box-shadow: -22px 18px 80px 50px #000;
  }
}

@keyframes swing_shadow_4 {
  0%, 100% {
    -webkit-box-shadow: -20px 20px 80px 60px #000;
            box-shadow: -20px 20px 80px 60px #000;
  }
  50% {
    -webkit-box-shadow: -22px 18px 80px 50px #000;
            box-shadow: -22px 18px 80px 50px #000;
  }
}

@-webkit-keyframes swing_shadow_5 {
  0%, 100% {
    -webkit-box-shadow: -20px -20px 80px 60px #000;
            box-shadow: -20px -20px 80px 60px #000;
  }
  50% {
    -webkit-box-shadow: -22px -22px 80px 50px #000;
            box-shadow: -22px -22px 80px 50px #000;
  }
}

@keyframes swing_shadow_5 {
  0%, 100% {
    -webkit-box-shadow: -20px -20px 80px 60px #000;
            box-shadow: -20px -20px 80px 60px #000;
  }
  50% {
    -webkit-box-shadow: -22px -22px 80px 50px #000;
            box-shadow: -22px -22px 80px 50px #000;
  }
}
/*# sourceMappingURL=index.css.map */