<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reference</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

</head>
<body>
    <div id="app">
    <div class="container">
        <div class="my-3">
        希望查詢的數量：<input type="number" name="" id="resultCount" v-model="counter"><button type="button" class="btn btn-outline-primary" @click="queryUser()">查詢</button>
        </div>
        <div class="row" v-for="person in people">
        <div class="col-md-4 mb-3">
            <div class="card h-100">
            <div class="position-absolute" style="top: 20px; right: 20px">
                <button type="button" class="btn btn-outline-danger rounded-pill">
                <i class="bi bi-heart fs-5"></i>
                </button>
            </div>
            <img :src="person.picture.large" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">
                {{ person.name.title }} {{ person.name.first }} {{ person.name.last }}(
                <span v-if="person.gender === 'male'">👨</span>
                <span v-if="person.gender === 'female'">👩</span> )
                </h5>
                <p class="card-text">
                Email：<a :href="mailto(person.email)">{{ person.email }}</a>
                </p>
                <p class="card-text">
                Phone: <a :href="tel(person.phone)">{{ person.phone }}</a>
                </p>
                <p class="card-text">
                Cell: <a :href="tel(person.cell)">{{ person.cell }}</a>
                </p>
                <p class="card-text">City: {{ person.location.city }}</p>
                <p class="card-text">State: {{ person.location.state }}</p>
                <p class="card-text">Country: {{ person.location.country }}</p>
                <p class="card-text">Postcode: {{ person.location.postcode }}</p>
                <p>
                Address：<a :href="addressHref(person.location)" target="_blank">{{ address(person.location) }}</a>
                </p>
                <p class="card-text">
                description: {{ person.location.timezone.description }}
                </p>
                <p class="card-text">
                <small class="text-muted">dob：{{ person.dob.date }}</small>
                </p>
                <p class="card-text">
                <small class="text-muted">registered：{{ person.registered.date }}</small>
                </p>
                <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" :src="googleMapSrc(person.location.coordinates)"></iframe>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type="module">
    
    import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.1.4/vue.esm-browser.min.js'
      // import axios from 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'
      // console.log(results);
    createApp({
    data() {
        return {
        people: [],
        counter: 1,
        }
    },
    methods:{
        mailto: (mail) => `mailto:${mail}`,
        tel: (tel) => `tel:${tel}`,
        addressHref: (location) => `https://www.google.com.tw/maps/search/${location.city}${location.state}`,
        address: (location) => `${location.city} ${location.state} ${location.country} ${location.postcode}`,
        googleMapSrc: (coordinates) => `https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=${coordinates.latitude},${coordinates.longitude}&z=10&output=embed`,
        queryUser: function() {
        axios.get(`https://randomuser.me/api/?results=${this.counter}`)
            .then((response) => {
            this.people = response.data.results;
            })
        },
    },
    mounted() {
        // queryUser()
        axios.get('https://randomuser.me/api/?results=1')
        .then((response) => {
            this.people = response.data.results;
        })
    },
    }).mount('#app');

</script>
</body>
</html>