<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
        crossorigin="anonymous"
        />
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
        />
        <link rel="stylesheet" href="./index.css">
    </head>

    <body>
        <div id="app" class="h-100 d-flex align-items-center" v-on:keypress="test">
            <div class="container">
                <div ref="computer" class="computer p-2 pb-3">
                    <div class="screen mb-1">
                        <div class="row gx-2 align-items-center">
                            <div class="col-lg-7">
                                <input class="screen-num px-2 py-0" type="text" readonly="readonly" placeholder="0" v-model="show">
                            </div>
                            <div class="col-lg-5">
                                <h2 class="result m-0 ps-1">= 
                                    <input class="screen-num px-2 py-0" type="text" readonly="readonly" placeholder="0" v-model="result">
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-lg-4">
                            <div class="row row-cols-4 g-1">
                                <div class="col">
                                    <button class="h-100 w-100 btn btn-clear position-relative" type="button" value="c" data-key="Backspace" @click="backspace" @dblclick="clearValue">
                                        <span class="position-absolute bottom-35 end-50">Ｃ</span>
                                        <span class="deg45"></span>
                                        <span class="position-absolute top-35 start-50">←</span>
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="h-100 w-100 btn btn-common" type="button" value="/" @click="symbolBtn">÷</button>
                                </div>
                                <div class="col">
                                    <button class="h-100 w-100 btn btn-common" type="button" value="*" @click="symbolBtn">×</button>
                                </div>
                                <div class="col">
                                    <button class="h-100 w-100 btn btn-common" type="button" value="-" @click="symbolBtn">－</button>
                                </div>
                                <div class="col-9">
                                    <div class="row row-cols-3 g-1">
                                        <div class="col">
                                            <button class="h-100 w-100 btn btn-common" type="button" value="7" @click="numBtn">7</button>
                                        </div>
                                        <div class="col">
                                            <button class="h-100 w-100 btn btn-common" type="button" value="8" @click="numBtn">8</button>
                                        </div>
                                        <div class="col">
                                            <button class="h-100 w-100 btn btn-common" type="button" value="9" @click="numBtn">9</button>
                                        </div>
                                        <div class="col">
                                            <button class="h-100 w-100 btn btn-common" type="button" value="4" @click="numBtn">4</button>
                                        </div>
                                        <div class="col">
                                            <button class="h-100 w-100 btn btn-common" type="button" value="5" @click="numBtn">5</button>
                                        </div>
                                        <div class="col">
                                            <button class="h-100 w-100 btn btn-common" type="button" value="6" @click="numBtn">6</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="h-100 w-100 btn btn-common mt-fix" type="button" value="+" @click="symbolBtn">＋</button>
                                </div>
                                <div class="col-9">
                                    <div class="row row-cols-3 g-1">
                                        <div class="col">
                                            <button class="h-100 w-100 btn btn-common" type="button" value="1" @click="numBtn">1</button>
                                        </div>
                                        <div class="col">
                                            <button class="h-100 w-100 btn btn-common" type="button" value="2" @click="numBtn">2</button>
                                        </div>
                                        <div class="col">
                                            <button class="h-100 w-100 btn btn-common" type="button" value="3" @click="numBtn">3</button>
                                        </div>
                                        <div class="col-8">
                                            <button class="h-100 w-100 btn btn-common" type="button" value="0" @click="numBtn">0</button>
                                        </div>
                                        <div class="col">
                                            <button class="h-100 w-100 btn btn-common" type="button" value="." @click="dotBtn">﹒</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="h-100 w-100 btn btn-common mt-fix" type="button" value="=" data-key="Enter" @click="equalBtn">＝</button>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-lg-8">
                            <div class="screen h-100">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <h2 class="flex-fill text-center fs-4 m-0">歷史紀錄</h2>
                                    <button class="btn btn-clear my-1 mx-2 p-1" value="Delete" @click="clearHistory">刪除歷史紀錄</button>
                                </div>
                                <div class="historyFrame">
                                    <ul class="historyList">
                                        <li class="historyItem" v-for="( item, key ) in history" :key="key">
                                            <p v-text="item"></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="helper">※ 可以使用鍵盤操作，雙擊 C 能清空樣式，單擊 C 則能退後一格，Delete 鍵能清空歷史紀錄</p>
            </div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <!-- 游標互動動畫 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
        <script>
        Vue.createApp({
            data(){
                return {
                    show: 0,
                    value: 0,
                    symbol: '',
                    result: 0,
                    valueArray: [],
                    history: [],
                }
            },
            methods: {
                // 數字按鈕
                numBtn(e){
                    // 測試
                    // console.log('按數字', e.target.value);
                    // 當運算符號是 '=' 清空
                    this.symbol === '=' ? this.clearValue() : '';
                    // 初始化，當 value 是 0 時，轉成空字串，避免以數字 0 開頭
                    if( this.value == 0 && this.show == 0 ) { 
                        this.value = '';
                        this.show = '';
                    }
                    // 在運算中，第二個數以後，當 value 是 0 時，轉成空字串，避免以數字 0 開頭
                    if( e.target.value == 0 && this.value === '0' ) return
                    else if( e.target.value && this.value === '0' ) {
                        this.value = '';
                        this.show = this.show.slice(0, -1);
                        this.show += this.value;
                    }
                    // 輸入數字的基礎功能，顯示螢幕上的
                    this.show += e.target.value;
                    // 這是給程式計算的
                    this.value += e.target.value;
                    // 剛開始輸入數字，右邊的數字跟著同步
                    if( this.valueArray.length === 0 ) this.result = this.value;
                },
                // 倒退按鈕，倒退最後一個數字
                backspace(e){
                    // 當運算符號是 '=' 清空
                    this.symbol === '=' ? this.clearValue() : '';
                    // 一開始螢幕 '=' 兩邊數字同步
                    if( this.result === this.show && this.result ){
                        // 刪除最後一個數字
                        this.show = this.show.slice(0, -1);
                        this.value = this.value.slice(0, -1);
                        // 剛開始輸入數字，右邊的數字跟著同步
                        this.result = this.show;
                        return
                    }
                    // 為了避免顯示螢幕上的數字出現 bug，讓使用者只能刪除當前 value
                    if( this.value != '' ){
                        // 刪除最後一個數字
                        this.show = this.show.slice(0, -1);
                        this.value = this.value.slice(0, -1);
                    }
                },
                // 清空按鈕，清空 data
                clearValue(){
                    this.show = 0;
                    this.value = 0;
                    this.symbol = '';
                    this.result = 0;
                    this.valueArray = [];
                },
                // 運算符號按鈕
                symbolBtn(e){
                    // console.log('按鍵', e.target.value);
                    // 當運算符號是 '=' 清空
                    this.symbol === '=' ? this.clearValue() : '';
                    // 切換運算符號
                    if( this.value === '' ){
                        this.show = this.show.slice(0, -1);
                        this.symbol = e.target.value;
                        this.show += e.target.textContent;
                        return
                    }
                    // 將第一組數字推入數列
                    this.valueArray.push( this.value );
                    // 當數列有兩個數字時，先進行運算，後面運算才不會出 bug
                    if( this.valueArray.length === 2 ) {
                        switch( this.symbol ){
                            // 當 symbol 為 '+' 時，從這裡開始，以下 - * / 皆同
                            case '+':
                                // 將運算結果傳給 result
                                this.result = parseFloat(this.valueArray[0]) + parseFloat(this.valueArray[1]);
                                // 將小數點後 2 位四捨五入，再把小數點後面是 0 的去掉
                                this.result = parseFloat( this.result.toFixed(2) );
                                // 將 result 傳回到數列 [0]
                                this.valueArray[0] = this.result;
                                // 刪除數列最後一個值，以達到此數列保持 1 個數字
                                this.valueArray.pop();
                                break
                            case '-':
                                this.result = parseFloat(this.valueArray[0]) - parseFloat(this.valueArray[1]);
                                this.result = parseFloat( this.result.toFixed(2) );
                                this.valueArray[0] = this.result;
                                this.valueArray.pop();
                                
                                break
                            case '*':
                                this.result = parseFloat(this.valueArray[0]) * parseFloat(this.valueArray[1]);
                                this.result = parseFloat( this.result.toFixed(2) );
                                this.valueArray[0] = this.result;
                                this.valueArray.pop();
                                
                                break
                            case '/':
                                this.result = parseFloat(this.valueArray[0]) / parseFloat(this.valueArray[1]);
                                this.result = parseFloat( this.result.toFixed(2) );
                                this.valueArray[0] = this.result;
                                // 當 result 是無限時，顯示 ∞
                                if( this.result == 'Infinity' ) this.result = '∞';
                                this.valueArray.pop();
                                break 
                            default:
                                break
                        }
                    }
                    // 傳運算符號到 symbol
                    this.symbol = e.target.value;
                    // 螢幕上添加運算符號
                    this.show += e.target.textContent;
                    // 清空 value 值
                    this.value = '';
                },
                // 等於按鈕
                equalBtn(e){   
                    // 如果沒有帶入數字，就會按了沒反應
                    if( this.value === '' ) return;
                    // 依照運算符號進行運算，大致上同上
                    switch( this.symbol ){
                        case '+':
                            this.result = parseFloat(this.valueArray[0]) + parseFloat(this.value);
                            // 修正數字到小數點後兩位
                            this.result = parseFloat(this.result.toFixed(2));
                            break
                        case '-':
                            this.result = parseFloat(this.valueArray[0]) - parseFloat(this.value);
                            this.result = parseFloat(this.result.toFixed(2));
                            break
                        case '*':
                            this.result = parseFloat(this.valueArray[0]) * parseFloat(this.value);
                            this.result = parseFloat(this.result.toFixed(2));
                            break
                        case '/':
                            this.result = parseFloat(this.valueArray[0]) / parseFloat(this.value);
                            this.result = parseFloat(this.result.toFixed(2));
                            // 假如是無限，替換成符號
                            if( this.result == 'Infinity' ) this.result = '∞';
                            break
                        default:
                            break
                    };
                    // 將運算符號切換成 '='，表示當前計算結束
                    this.symbol = '=';
                    // 添加
                    this.newHistory();
                },
                // 小數點按鈕
                dotBtn(e){
                    // 當運算符號是 '=' 清空
                    this.symbol === '=' ? this.clearValue() : '';
                    // 如果當前沒數字，自動帶入 0
                    if( this.value === '' ){
                        this.value = '0';
                        this.show += this.value;
                    }
                    if( this.value.indexOf(".") != -1 ) return
                    // 顯示螢幕上的
                    this.show += e.target.value;
                    // 這是給程式計算的
                    this.value += e.target.value;
                    // 剛開始輸入，右邊的結果跟著同步
                    if( this.valueArray.length === 0 ) this.result = this.value;
                },
                // 新紀錄
                newHistory(){
                    // 將結果存入字串
                    const strHistory = this.show + ' = ' + this.result
                    // 如果歷史紀錄超過十個，將刪除第一個
                    if (this.history.length > 9) {
                        this.history.shift();
                    }
                    // 使用傳送歷史紀錄方法
                    this.pushHistory( strHistory );
                },
                // 接收歷史紀錄
                getHistory() {
                    if ( localStorage.getItem('historyList') ) {
                        this.history = JSON.parse( localStorage.getItem( 'historyList' ) );
                    };
                },
                // 傳送歷史紀錄
                pushHistory( strHistory ) {
                    // 將新紀錄加入歷史紀錄中
                    this.history.push( strHistory );
                    // 將資料轉成字串型式
                    const localHistory = JSON.stringify( this.history );
                    // 存入 localStorage
                    localStorage.setItem( 'historyList', localHistory );
                },
                // 清除歷史紀錄
                clearHistory() {
                    this.history = [];
                    localStorage.removeItem( 'historyList' );
                }
            },
            mounted(){
                // 游標互動動畫
                VanillaTilt.init(this.$refs.computer,{
                    max: 1,
                    speed: 400,
                    glare: true,
                    "max-glare": .5,
                });
                this.getHistory();
                // 按鍵觸發，以下略同，keydown 按下按鍵時， keyup 放開按鍵時
                window.addEventListener('keydown', function(e){
                    // 鎖定按的按鍵
                    const btn = document.querySelector(`button[value="${e.key}"]`);
                    // 將沒有宣告的按鍵 return ，避免報錯
                    if(!btn) return
                    // 將按鍵套 class 達到使用者體感優化
                    btn.classList.add('active');
                    // 觸發按鍵 click 事件
                    btn.click();
                    // 測試
                    // console.log(e.key);
                });
                window.addEventListener('keydown', function(e){
                    const ex_btn = document.querySelector(`button[data-key="${e.key}"]`);
                    if(!ex_btn) return
                    ex_btn.classList.add('active');
                    ex_btn.click();
                });
                window.addEventListener('keyup', function(e){
                    const btn = document.querySelector(`button[value="${e.key}"]`);
                    if(!btn) return
                    btn.classList.remove('active');
                });
                window.addEventListener('keyup', function(e){
                    const ex_btn = document.querySelector(`button[data-key="${e.key}"]`);
                    if(!ex_btn) return
                    ex_btn.classList.remove('active');
                });
            },
        }).mount('#app');
        </script>
    </body>
</html>