$primary:   #ffd370;
html,
body {
    height: 100%;
    line-height: 2;
    font-size: 1.5rem;
    color: #333;
    background: no-repeat linear-gradient(174deg, $primary 0%, $primary 56%, #FFF 56%, #FFF 100%);
}
.mt-fix {
    margin-top: 3px;
}
.computer {
    background-color: rgba( 255, 255, 255, .1 );
    border-top: 1px solid rgba( 255, 255, 255, .5 );
    border-left: 1px solid rgba( 255, 255, 255, .5 );
    border-radius: 15px;
    box-shadow: 20px 20px 40px rgba( 0, 0, 0, .5 );
    backdrop-filter: blur(5px);
}
.screen {
    background: rgba( 255, 255, 255, .3 );
    border-radius: 12px;
}
.screen-num {
    background: transparent;
    border: 0;
    width: 100%;

    &:focus {
        border: 0;
        outline: 0;
    }
}
.btn-clear {
    background: rgba( 255, 55, 55, .5 );
    border-top: 1px solid rgba( 255, 255, 255, .5 );
    border-left: 1px solid rgba( 255, 255, 255, .5 );
    box-shadow: 4px 4px 1px rgba( 0, 0, 0, .5 );
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    
    &:hover {
        background: rgba( 255, 55, 55, .3 );
        font-size: 1.25rem;
        color: #fff
    }

    &:active {
        background: rgba( 255, 55, 55, .4);
    }
}
.btn-common {
    background: rgba( 255, 255, 255, .5 );
    border-top: 1px solid rgba( 255, 255, 255, .5 );
    border-left: 1px solid rgba( 255, 255, 255, .5 );
    box-shadow: 4px 4px 1px rgba( 0, 0, 0, .5 );
    color: #333;
    width: 100%;
    height: 100%;
    transition: all .2s;

    &:hover {
        background: rgba( 0, 0, 0, .1 );
        font-size: 1.25rem;
    }

    &:active {
        background: rgba( 0, 0, 0, .3);
    }
}
.deg45 {
    display: inline-block;
    transform: rotate(45deg);
    background: #fff;
    width: 1px;
    height: 100%;
}
.top-35 {
    top: 35%;
}
.bottom-35 {
    bottom: 35%;
}