$primary:       #ffd370;
$warning:       #f55;
$dark:          #333;
$light-gray:    #efefef;
$dark-gray:     #9f9a91;

$font-family:   'Noto Sans', 'Baloo 2';

@import '../scss/reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Baloo+2&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import '../scss/layout';
// base
body {
    font-family: $font-family;
    font-size: 16px;
    color: $dark;
    line-height: 1.5;
    background: no-repeat linear-gradient(174deg, $primary 0%, $primary 56%, #FFF 56%, #FFF 100%);
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}
a {
    text-decoration: none;
    color: darken( $primary, 40);
    &:hover {
        color: darken( $primary, 45);
    }
}
.del {
    color: lighten($dark-gray, 20);
    text-decoration: line-through;
    text-decoration-color: lighten($dark-gray, 10);
}
.lh-1 {
    line-height: 1;
}
.text-primary {
    color: darken( $primary, 25);

    a {
        color: darken( $primary, 35);
    }
}
[v-cloak]{
    opacity: 0;
}

// grid
.container {
    max-width: 500px;
    margin: 16px auto;
    padding: 0 15px;
}
.col {
    flex: 1 0 0%;
}
.col-auto {
    flex: 0 0 auto;
    width: auto;
}
// form
.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}
.form-control {
    border: 2px solid transparent;
    padding: 12.8px 20px;
    font-size: 16px;
    
    &:focus {
        border: 2px solid lighten($primary, 10);
        border-radius: 10px 0 0 10px;
        outline: none;
    }
}
.form-edit {
    border: 2px solid lighten($primary, 10);
    border-radius: 4px;
    padding: 12.8px 2px;
    font-size: 16px;
    margin-left: 60px;
    
    &:focus {
        border: 2px solid $primary;
        outline: none;
    }
}
.form-check {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;

    &:checked:before {
        position: absolute;
        content: '';
        top: -5%;
        left: -5%;
        width: 110%;
        height: 110%;
        background: #fff;
        z-index: 1;
    }
    &:checked:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 40%;
        height: 80%;
        border: 1px solid $primary;
        border-width: 0 3.2px 3px 0;
        transform: translate(-50%, -60%) rotate3d(0, .8, .8, 60deg);
        z-index: 2;
    }
}

// list-group
.list-frame {
    width: 100%;
    overflow: hidden;
}
.list-group {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    li {
        label {
            transition: .3s;
        }

        .list-btn-warning {
            color: transparent;
        }

        &:hover {
            background: lighten($dark, 75);

            .form-check:checked:before {
                background: lighten($dark, 75);
            }

            .list-btn-warning {
                color: $dark;

                &:hover {
                    color: #fff;
                    background: $warning;
                }
            }
        }
    }

    label {
        border-bottom: 1px solid $light-gray;
    }
}

// button
.btn {
    padding: 3px;
    background: transparent;
    color: $dark;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
    transition: .2s;
}
.btn-size-base {
    padding: 6px 8px;
    i {
        transform: translateY(1px);
    }
}
.btn-size-lg {
    padding: 11px 12px;
}
.btn-dark {
    color: #FFF;
    background: $dark;
    border: 1px solid $dark;

    &:hover {
        background: #fff;
        border-color: #fff;
        color: $dark;
    }
}
.btn-text-warning {
    padding: 4px;
    color: $dark-gray;

    &:hover {
        color: #fff;
        background: $warning;
    }
}

// nav
.btn-group {
    display: flex;
    border-bottom: 2px solid #fff;

    li {
        margin-left: -2px;
        min-width: 100px;
        transition: .3s;
    }

    button {
        padding: 16px;
        margin-bottom: -2px;
        display: inline-block;
        text-decoration: none;
        width: 100%;
        color: $dark-gray;
        background-color: $light-gray;
        text-align: center;
        vertical-align: middle;
        border: 2px solid darken( $light-gray, 10);
        border-bottom: 2px solid transparent;
        border-radius: 10px 10px 0 0;
        transition: all .3s;

        &:hover {
            background: darken( $light-gray, 20);
            border-color: darken( $light-gray, 20);
            color: #fff;
        }
    }

    .active {
        z-index: 1;
        button {
            color: $dark;
            font-weight: bold;
            background: #fff;
            border-color:#fff;
            border-bottom: 2px solid #fff;
        }
    }
}

// background
.bg-white {
    background: #FFF;
}
.bg-gradual-white {
    background: linear-gradient( rgba( #000, .05 ) 0%, 
                                rgba( #000, .05 ) 5%, 
                                #fff 5% );
}
.box-shadow {
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
}

// border
.border-0 {
    border: 0;
}
.rounded-1 {
    border-radius: 10px;
}

// other
.vh-50 {
    height: 50vh;
}
.text-dark-gray {
    color: $dark-gray;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.flex-fill {
    flex: 1 1 auto;
}
.overflow-hidden {
    overflow: hidden;
}

// utilities
.m-1 {
    margin: 4px;
}
.ms-1 {
    margin-left: 4px;
}
.m-3 {
    margin: 16px;
}
.mb-3 {
    margin-bottom: 16px;
}
.m-4 {
    margin: 20px;
}
.me-8 {
    margin-right: 60px;
}
.p-0 {
    padding: 0;
}
.py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.px-3 {
    padding-left: 16px;
    padding-right: 16px;
}
.p-4 {
    padding: 20px;
}
.py-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}